@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Raleway:ital,wght@0,100;0,400;0,600;1,100;1,400;1,600&display=swap");
/* MISC */
/* VARIABLES */
/* COLORS */
/* SPACES */
/* BORDERS */
/* SHADOWS */
/* FONT-FAMILY */
/* FONT-SIZE REFERENCE */
/* FONT-SIZES */
/* LINE HEIGHT */
.btn-primary {
  --bs-btn-bg: #141418;
  --bs-btn-border-color: #141418;
  --bs-btn-hover-bg: #9460b5;
  --bs-btn-hover-border-color: #9460b5;
  --bs-btn-active-bg: #9460b5;
  --bs-btn-active-border-color: #9460b5;
  --bs-btn-disabled-bg: #9460b5;
  --bs-btn-disabled-border-color: #9460b5;
  --bs-btn-focus-shadow-rgb: #9460b5; }

/* NORMALIZE */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  background: #000;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden; }

ul {
  list-style-type: none; }

a {
  padding: 1rem;
  font-family: "Raleway", sans-serif;
  color: #9460b5;
  text-decoration: none; }

img {
  width: 100%; }

.active-page {
  border-bottom: 1px solid #9460b5; }

a:hover {
  color: #f7547f; }

/* MAIN */
.main-content {
  max-width: 1200px;
  margin: auto; }

/* PARTIALS */
/* HEADER */
#main-header {
  background: #000;
  border-bottom: 0.2rem solid #9460b5;
  box-shadow: 0 0 1rem 0.2rem #9460b5;
  width: 100%;
  height: auto;
  z-index: 100; }
  #main-header .main-header__nav {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 120rem; }
    #main-header .main-header__nav .navbar-brand .logo__img {
      height: 6rem; }
    #main-header .main-header__nav .navbar-toggler {
      border: 0.2rem solid #9460b5;
      background-color: #9460b5; }
    #main-header .main-header__nav .navbar-collapse {
      flex-grow: 0; }
      #main-header .main-header__nav .navbar-collapse .nav__menu {
        display: flex;
        justify-content: space-between;
        gap: 3rem; }
        #main-header .main-header__nav .navbar-collapse .nav__menu .menu__link {
          font-size: 1.6em;
          color: #9460b5; }
          #main-header .main-header__nav .navbar-collapse .nav__menu .menu__link:hover {
            color: #f7547f; }

@media screen and (max-width: 991px) {
  #main-header .navbar-nav {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center; } }

@media screen and (max-width: 600px) {
  #main-header {
    border-bottom: 0.1rem solid #9460b5;
    box-shadow: 0 0 1rem 0.1rem #9460b5; } }

/* FOOTER */
#main-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 0.2rem solid #9460b5;
  box-shadow: 0 0 1rem 0.2rem #9460b5;
  padding: 2rem; }
  #main-footer a {
    padding: 0; }
  #main-footer ul {
    padding: 0; }
  #main-footer .main-footer__links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 120rem;
    margin: auto; }
    #main-footer .main-footer__links .links__nav .nav__title {
      font-weight: bold;
      font-size: 2.4em;
      color: #f7547f; }
    #main-footer .main-footer__links .links__nav .nav__footer-menu .footer-menu__item {
      margin: 1rem 0; }
      #main-footer .main-footer__links .links__nav .nav__footer-menu .footer-menu__item .footer-menu__link {
        font-size: 1.6em;
        border: none; }
    #main-footer .main-footer__links .links__dowload {
      align-self: center; }
      #main-footer .main-footer__links .links__dowload .icon__app {
        height: 5rem;
        border: 0.2rem solid #5ee6bb;
        border-radius: 1rem;
        box-shadow: 0 0 1rem 0.2rem #5ee6bb;
        margin-bottom: 1rem; }
        #main-footer .main-footer__links .links__dowload .icon__app:hover {
          border: 0.2rem solid #f7547f;
          box-shadow: 0 0 1rem 0.2rem #f7547f; }
    #main-footer .main-footer__links .links__media .media__icon {
      background: #5ee6bb;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 4rem;
      width: 4rem;
      border: 0.2rem solid #5ee6bb;
      border-radius: 100%;
      box-shadow: 0 0 1rem 0.2rem #5ee6bb;
      margin-bottom: 1rem; }
      #main-footer .main-footer__links .links__media .media__icon .media__icon--design {
        height: 2.5rem; }
      #main-footer .main-footer__links .links__media .media__icon:hover {
        background: #f7547f;
        border: 0.2rem solid #f7547f;
        box-shadow: 0 0 1rem 0.2rem #f7547f; }
  #main-footer .main-footer__copyright {
    text-align: center;
    font-size: 1.2em;
    color: #9460b5;
    margin-top: 3rem; }

@media screen and (max-width: 600px) {
  #main-footer {
    border-top: 0.1rem solid #9460b5;
    box-shadow: 0 0 1rem 0.1rem #9460b5; }
    #main-footer .main-footer__links {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      text-align: center; }
      #main-footer .main-footer__links .media {
        display: flex;
        gap: 1rem; }
        #main-footer .main-footer__links .media__icon {
          border: 0.1rem solid #5ee6bb;
          box-shadow: 0 0 1rem 0.1rem #5ee6bb; }
          #main-footer .main-footer__links .media__icon:hover {
            border: 0.1rem solid #f7547f;
            box-shadow: 0 0 1rem 0.1rem #f7547f; } }

/* VIEWS */
/* HOME */
#home .main-content__banner {
  display: flex;
  height: 30rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 1rem; }
  #home .main-content__banner .banner__video {
    height: 48rem; }

#home .main-content__cover .cover {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  font-size: 1rem; }
  #home .main-content__cover .cover .cover__slogan {
    line-height: 1em;
    font-size: 5.4em;
    font-family: "bakbak One", "cursive";
    color: #f7547f;
    margin: 0; }
  #home .main-content__cover .cover .cover__text {
    line-height: 1em;
    font-size: 2.4em;
    font-weight: bold;
    color: #c3c6e9;
    margin: 0; }
  #home .main-content__cover .cover .cover__dowload {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0; }
    #home .main-content__cover .cover .cover__dowload .dowload__icon {
      height: 5rem;
      width: auto;
      border: 0.2rem solid #5ee6bb;
      border-radius: 1rem;
      box-shadow: 0 0 1rem 0.2rem #5ee6bb; }
      #home .main-content__cover .cover .cover__dowload .dowload__icon:hover {
        border: 0.2rem solid #f7547f;
        box-shadow: 0 0 1rem 0.2rem #f7547f; }

#home .main-content__cover .cover__img {
  transition: transform 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  #home .main-content__cover .cover__img:hover {
    transform: scale(1.1); }

#home .main-content__feature {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: content;
  margin: 3rem 0; }
  #home .main-content__feature .feature {
    width: 27.6rem;
    height: 14rem;
    min-height: 14rem;
    min-width: 27.6rem;
    border: 0.2rem solid #5ee6bb;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0.2rem #5ee6bb;
    padding: 2rem;
    font-size: 1rem;
    display: grid;
    justify-items: end;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr); }
    #home .main-content__feature .feature .feature__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-column: 7/9;
      background: #5ee6bb;
      height: 4rem;
      width: 4rem;
      border: 0.2rem solid #5ee6bb;
      border-radius: 100%;
      box-shadow: 0 0 1rem 0.2rem #5ee6bb; }
      #home .main-content__feature .feature .feature__icon .icon__img {
        height: 80%;
        width: 80%; }
    #home .main-content__feature .feature .feature__title {
      grid-column: 1/7;
      grid-row: 1/3;
      font-family: "bakbak One", "cursive";
      font-size: 2.4em;
      color: #f7547f;
      line-height: 1em; }
    #home .main-content__feature .feature .feature__text {
      grid-column: 1/9;
      grid-row: 3/5;
      font-size: 1.6em;
      font-weight: bold;
      color: #c3c6e9;
      line-height: 1em;
      text-align: justify;
      hyphens: auto; }

#home .main-content__steps {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #home .main-content__steps .steps__title {
    font-family: "bakbak One", "cursive";
    font-size: 3.6em;
    color: #f7547f;
    text-align: center; }
  #home .main-content__steps .container {
    max-width: 100%; }
    #home .main-content__steps .container .steps {
      font-size: 1rem; }
      #home .main-content__steps .container .steps .steps__num {
        font-family: "bakbak One", "cursive";
        font-size: 48em;
        line-height: 1em;
        background: linear-gradient(135deg, #f7547f 0%, #f7547f 25%, #9460b5 50%, #5ee6bb 75%, #5ee6bb 100%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; }
      #home .main-content__steps .container .steps .steps-info__box .steps__subtitle {
        font-family: "bakbak One", "cursive";
        font-size: 7em;
        line-height: 1em;
        color: #f7547f; }
      #home .main-content__steps .container .steps .steps-info__box .steps__text {
        font-size: 2.4em;
        color: #c3c6e9; }
    #home .main-content__steps .container .steps:nth-of-type(1) .steps__img {
      transform: rotate(15deg);
      max-height: 54rem;
      width: auto;
      position: relative;
      top: 10rem; }
    #home .main-content__steps .container .steps:nth-of-type(2) .steps__subtitle {
      text-align: right; }
    #home .main-content__steps .container .steps:nth-of-type(2) .steps__text {
      text-align: right; }
    #home .main-content__steps .container .steps:nth-of-type(2) .steps__img {
      transform: rotate(-15deg);
      max-height: 54rem;
      width: auto;
      position: relative;
      top: 10rem; }
    #home .main-content__steps .container .steps:nth-of-type(3) .steps__img {
      max-height: 48rem;
      width: auto;
      position: relative;
      top: 5rem;
      left: -5rem; }

@media screen and (max-width: 1024px) {
  #home .main-content__banner {
    height: 22rem; }
    #home .main-content__banner .banner__video {
      height: 36rem; }
  #home .main-content__steps .steps {
    font-size: 0.8rem; }
  #home .main-content__steps .steps:nth-of-type(3) .steps__img {
    left: -2rem; } }

@media screen and (max-width: 991px) {
  #home .main-content__steps .container {
    max-width: 98%; }
    #home .main-content__steps .container .steps:nth-of-type(1) .steps__img {
      transform: rotate(0deg);
      max-height: 54rem;
      width: auto;
      position: relative;
      top: 0rem; }
    #home .main-content__steps .container .steps:nth-of-type(2) .steps__img {
      transform: rotate(0deg);
      max-height: 54rem;
      width: auto;
      position: relative;
      top: 0rem; }
    #home .main-content__steps .container .steps:nth-of-type(3) .steps__img {
      max-height: 48rem;
      width: auto;
      position: relative;
      top: 0rem;
      left: 0rem; } }

@media screen and (max-width: 600px) {
  /* BANNER */
  #home .main-content__banner {
    height: 14rem; }
    #home .main-content__banner .banner__video {
      height: 24rem; }
  #home .main-content__cover {
    flex-direction: column; }
    #home .main-content__cover .row {
      justify-content: center; }
    #home .main-content__cover .cover {
      font-size: 0.66rem;
      width: 90%;
      text-align: center; }
      #home .main-content__cover .cover .cover__dowload {
        padding-bottom: 3rem;
        align-self: center;
        gap: 0; }
        #home .main-content__cover .cover .cover__dowload .dowload__icon {
          height: 4.5rem; }
      #home .main-content__cover .cover .cover__img {
        width: 100%; }
  #home .main-content__steps .container {
    max-width: 98%; }
    #home .main-content__steps .container .steps {
      font-size: 0.66rem; }
      #home .main-content__steps .container .steps .steps__num {
        font-size: 25em; }
    #home .main-content__steps .container .steps:nth-of-type(1) .steps__img {
      max-height: 40rem;
      width: auto; }
    #home .main-content__steps .container .steps:nth-of-type(2) .steps__text {
      text-align: justify;
      text-align-last: right;
      hyphens: auto; }
    #home .main-content__steps .container .steps:nth-of-type(2) .steps__img {
      max-height: 40rem;
      width: auto; }
    #home .main-content__steps .container .steps:nth-of-type(3) .steps__num {
      padding: 0; }
    #home .main-content__steps .container .steps:nth-of-type(3) .steps-info__box {
      padding: 0; }
    #home .main-content__steps .container .steps:nth-of-type(3) .steps__img {
      max-height: 40rem;
      width: auto;
      position: relative;
      top: 0rem;
      left: -2rem; } }

/* ¿QUIENES SOMOS? */
#quienessomos #carouselExampleIndicators .carousel-indicators button {
  background-color: #9460b5; }

#quienessomos #carouselExampleIndicators .carousel-inner .subtitle {
  font-family: "bakbak One", "cursive";
  font-size: 3.6em;
  line-height: 1em;
  color: #f7547f;
  max-width: 120rem;
  width: 90%;
  margin: 0 auto 3rem; }

#quienessomos #carouselExampleIndicators .carousel-inner .text {
  font-size: 2.4em;
  color: #c3c6e9;
  text-align: justify;
  hyphens: auto;
  max-width: 120rem;
  width: 90%;
  margin: 0 auto 3rem; }

#quienessomos #carouselExampleIndicators .carousel-inner span {
  font-weight: bold;
  color: #9460b5; }

#quienessomos #carouselExampleIndicators .carousel-inner .main-content__history {
  background-image: url(../img/quienesomos/buenosaires.jpg);
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  font-size: 1rem; }
  #quienessomos #carouselExampleIndicators .carousel-inner .main-content__history .main-content__title {
    line-height: 1em;
    font-size: 5.4em;
    font-family: "bakbak One", "cursive";
    color: #f7547f;
    text-align: center;
    margin: 3rem 0; }

#quienessomos #carouselExampleIndicators .carousel-inner .main-content__values {
  background-image: url(../img/quienesomos/nature.jpg);
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  font-size: 1rem; }
  #quienessomos #carouselExampleIndicators .carousel-inner .main-content__values .subtitle {
    padding: 3rem 0;
    text-align: center;
    font-family: "bakbak One", "cursive";
    font-size: 3.6em;
    color: #f7547f;
    line-height: 1em; }
  #quienessomos #carouselExampleIndicators .carousel-inner .main-content__values .values__value-box {
    padding: 1rem;
    border: 0.2rem solid #5ee6bb;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0.2rem #5ee6bb;
    margin: 3rem auto;
    max-width: 120rem;
    width: 90%; }
    #quienessomos #carouselExampleIndicators .carousel-inner .main-content__values .values__value-box .value-box__title {
      font-size: 2.4em;
      line-height: 1em;
      letter-spacing: 0.1rem;
      font-family: "bakbak One", "cursive";
      color: #f7547f;
      margin-bottom: 1rem; }
    #quienessomos #carouselExampleIndicators .carousel-inner .main-content__values .values__value-box .value-box__text {
      font-size: 1.6em;
      color: #c3c6e9;
      text-align: justify;
      hyphens: auto; }

#quienessomos #carouselExampleIndicators .carousel-inner .main-content__staff-products {
  background-image: url(../img/quienesomos/personal.jpg);
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  font-size: 1rem; }
  #quienessomos #carouselExampleIndicators .carousel-inner .main-content__staff-products .subtitle {
    padding: 3rem 0 0;
    grid-area: title;
    text-align: center;
    font-size: 5.4em; }
  #quienessomos #carouselExampleIndicators .carousel-inner .main-content__staff-products .products {
    display: flex;
    justify-content: center;
    column-gap: 20rem;
    margin-bottom: 2rem; }
    #quienessomos #carouselExampleIndicators .carousel-inner .main-content__staff-products .products .list__title {
      font-size: 3.6em;
      letter-spacing: 0.1rem;
      font-family: "bakbak One", "cursive";
      color: #f7547f;
      margin-bottom: 1rem; }
    #quienessomos #carouselExampleIndicators .carousel-inner .main-content__staff-products .products .list__item {
      font-size: 2.4em;
      color: #c3c6e9;
      font-weight: bold; }
      #quienessomos #carouselExampleIndicators .carousel-inner .main-content__staff-products .products .list__item img {
        height: 2.4rem;
        width: 2.4rem;
        position: relative;
        left: -1rem; }

@media screen and (max-width: 959px) {
  #quienessomos .main-content__history {
    font-size: 0.8rem; }
  #quienessomos .main-content__values {
    font-size: 0.8rem; }
  #quienessomos .main-content__staff-products {
    font-size: 0.8rem; }
    #quienessomos .main-content__staff-products .products {
      column-gap: 5rem; }
      #quienessomos .main-content__staff-products .products .list__item {
        font-weight: bold; } }

@media screen and (max-width: 600px) {
  #quienessomos .main-content__history {
    font-size: 0.66rem; }
  #quienessomos .main-content__staff-products {
    font-size: 0.66rem; }
    #quienessomos .main-content__staff-products .products {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      margin-bottom: 3rem; } }

/* PRECIOS */
#precios .main-content__title {
  line-height: 1em;
  font-size: 5.4em;
  letter-spacing: 0.1rem;
  font-family: "bakbak One", "cursive";
  color: #f7547f;
  text-align: center;
  margin-top: 3rem; }

#precios .main-content__item {
  padding: 2rem 0;
  max-width: 68rem;
  margin: 0 auto; }
  #precios .main-content__item .item__icon .icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    background: #5ee6bb;
    border: 0.2rem solid #5ee6bb;
    border-radius: 100%;
    box-shadow: 0 0 1rem 0.2rem #5ee6bb; }
    #precios .main-content__item .item__icon .icon-box img {
      height: 3rem;
      width: 3rem; }
  #precios .main-content__item .item__content {
    font-size: 1rem; }
    #precios .main-content__item .item__content .item__title {
      font-family: "bakbak One", "cursive";
      font-size: 2.4em;
      color: #f7547f; }
    #precios .main-content__item .item__content .item__text {
      font-size: 1.6em;
      color: #c3c6e9;
      align-self: start;
      text-align: justify;
      hyphens: auto; }
  #precios .main-content__item .item__price {
    font-size: 5.4em;
    letter-spacing: 0.1rem;
    font-family: "bakbak One", "cursive";
    color: #9460b5;
    justify-self: end; }

#precios .main-content__costs .costs__title {
  font-family: "bakbak One", "cursive";
  font-size: 3.6em;
  color: #f7547f;
  line-height: 1em;
  padding: 2rem 0;
  text-align: center; }

#precios .main-content__costs .item__price {
  font-size: 2.4em; }

#precios .main-content__costs .costs__conditions {
  margin: 1rem 0 3rem;
  align-self: start; }
  #precios .main-content__costs .costs__conditions .conditions {
    font-size: 1.4em;
    color: #c3c6e9;
    opacity: 0.5;
    max-width: 68rem;
    margin: 0 auto; }

@media screen and (max-width: 575px) {
  #precios .main-content__title {
    font-size: 3.6em;
    margin-bottom: 3rem; }
  #precios .main-content__item {
    width: 100%;
    padding: 0; }
    #precios .main-content__item .item__icon .icon-box {
      height: 3rem;
      width: 3rem;
      margin: 2rem 0 1rem; }
      #precios .main-content__item .item__icon .icon-box img {
        height: 2.5rem;
        width: 2.5rem; }
    #precios .main-content__item .item__content {
      font-size: 0.8rem;
      text-align: center; }
    #precios .main-content__item .item__price {
      font-size: 3.6em; }
  .main-content__costs .costs__title {
    font-size: 3rem; } }

/* SEGURIDAD */
#seguridad .main-content__title {
  line-height: 1em;
  font-size: 5.4em;
  letter-spacing: 0.1rem;
  font-family: "bakbak One", "cursive";
  color: #f7547f;
  text-align: center;
  margin-top: 3rem; }

#seguridad .main-content__item {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 6rem);
  gap: 2rem;
  font-size: 1rem; }
  #seguridad .main-content__item .item__text {
    font-size: 2.4em;
    text-align: center;
    color: #c3c6e9;
    grid-column: 1/13;
    grid-row: 1/3;
    justify-self: center; }
  #seguridad .main-content__item .item__img-smartphone {
    grid-row: 2/6;
    grid-column: 3/5;
    width: auto;
    height: 100%; }
  #seguridad .main-content__item .item__characteristic {
    padding: 1rem;
    width: 100%;
    border: 0.2rem solid #5ee6bb;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0.2rem #5ee6bb;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(6, 1fr);
    align-items: center; }
    #seguridad .main-content__item .item__characteristic .characteristic__title {
      font-family: "bakbak One", "cursive";
      font-size: 2.4em;
      color: #f7547f;
      grid-row: 1;
      grid-column: 1/7; }
    #seguridad .main-content__item .item__characteristic .characteristic__text {
      font-size: 1.6em;
      color: #c3c6e9;
      text-align: justify;
      hyphens: auto;
      grid-row: 2/5;
      grid-column: 1/7; }
    #seguridad .main-content__item .item__characteristic .item__icon {
      grid-row: 1;
      grid-column: 6; }
  #seguridad .main-content__item .item__characteristic:nth-of-type(1) {
    grid-column: 5/8;
    grid-row: 2/4; }
  #seguridad .main-content__item .item__characteristic:nth-of-type(2) {
    grid-column: 8/11;
    grid-row: 2/4; }
  #seguridad .main-content__item .item__characteristic:nth-of-type(3) {
    grid-column: 5/8;
    grid-row: 4/6; }
  #seguridad .main-content__item .item__characteristic:nth-of-type(4) {
    grid-column: 8/11;
    grid-row: 4/6; }

#seguridad .main-content__feature {
  margin: 3rem auto; }
  #seguridad .main-content__feature .feature__info {
    font-size: 1rem; }
    #seguridad .main-content__feature .feature__info .info__title {
      font-size: 5.4em;
      line-height: 1em;
      font-family: "bakbak One", "cursive";
      color: #f7547f; }
    #seguridad .main-content__feature .feature__info .info__text {
      font-size: 2.4em;
      color: #c3c6e9;
      text-align: justify;
      hyphens: auto; }
  #seguridad .main-content__feature .feature__img img {
    height: 100%;
    object-fit: cover; }

@media screen and (max-width: 1399px) {
  #seguridad .main-content__feature .feature__info .info__title {
    font-size: 4em; }
  #seguridad .main-content__feature .feature__info .info__text {
    font-size: 2em; } }

@media screen and (max-width: 1139px) {
  #seguridad .main-content__feature {
    margin: 2rem auto; }
    #seguridad .main-content__feature .feature__info {
      font-size: 0.8rem; } }

@media screen and (max-width: 991px) {
  #seguridad .main-content__item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    font-size: 0.8rem;
    width: 90%;
    margin: auto;
    margin-top: 2rem; }
    #seguridad .main-content__item .item__characteristic {
      width: 90%;
      height: 12rem;
      max-width: 30rem; }
    #seguridad .main-content__item .item__img-smartphone {
      width: auto;
      max-height: 40rem;
      margin: 2rem 0; }
  #seguridad #seguridad .main-content__feature .feature__info .info__title {
    text-align: center; } }

@media screen and (max-width: 600px) {
  #seguridad .main-content__title {
    font-size: 3.6em; }
  #seguridad .main-content__feature {
    width: 90%; }
    #seguridad .main-content__feature .feature__info {
      font-size: 0.66rem; } }

/* CONTACTO */
#contacto .main-content__contact-forms {
  font-size: 1rem; }
  #contacto .main-content__contact-forms .main-content__title {
    line-height: 1em;
    font-size: 5.4em;
    letter-spacing: 0.1rem;
    font-family: "bakbak One", "cursive";
    color: #f7547f;
    text-align: center;
    margin-top: 3rem; }
  #contacto .main-content__contact-forms .contact-forms__text {
    font-size: 2.4em;
    color: #c3c6e9;
    width: auto;
    justify-self: center;
    margin: 3rem 0; }
  #contacto .main-content__contact-forms .contact-forms__way-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: content;
    gap: 2rem;
    margin-bottom: 3rem; }
    #contacto .main-content__contact-forms .contact-forms__way-box .contact-forms__way {
      padding: 1rem;
      width: 35rem;
      height: 18rem;
      border: 0.2rem solid #5ee6bb;
      border-radius: 1rem;
      box-shadow: 0 0 1rem 0.2rem #5ee6bb;
      display: grid;
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: repeat(6, 1fr);
      align-items: start; }
      #contacto .main-content__contact-forms .contact-forms__way-box .contact-forms__way .way__title {
        font-family: "bakbak One", "cursive";
        font-size: 2.4em;
        letter-spacing: 0.1rem;
        color: #f7547f;
        margin: 0;
        grid-row: 1;
        grid-column: 1/6; }
      #contacto .main-content__contact-forms .contact-forms__way-box .contact-forms__way .way__text {
        font-size: 1.6em;
        color: #c3c6e9;
        grid-row: 2/5;
        grid-column: 1/7;
        text-align: justify;
        hyphens: auto;
        padding-top: 0.1rem; }
      #contacto .main-content__contact-forms .contact-forms__way-box .contact-forms__way .way__icon {
        grid-row: 1;
        grid-column: 6;
        justify-self: end;
        height: 4rem;
        width: 4rem; }
      #contacto .main-content__contact-forms .contact-forms__way-box .contact-forms__way ul {
        display: flex;
        right: 0;
        grid-row: 1;
        grid-column: 6;
        justify-self: end; }

.main-content__form .form__title {
  font-size: 2.4em;
  letter-spacing: 0.1rem;
  font-family: "bakbak One", "cursive";
  color: #f7547f;
  margin: 3rem 0;
  text-align: center; }

.main-content__form form {
  width: 90%;
  margin: auto; }
  .main-content__form form .form__write {
    display: flex;
    flex-direction: column;
    margin: 3rem 0 1rem; }
    .main-content__form form .form__write .form-floating .contact__box {
      margin-bottom: 2rem;
      height: 7rem;
      background: #141418;
      color: #c3c6e9;
      font-weight: bold;
      font-size: 1.6em;
      border: none;
      border-bottom: 0.2rem solid #9460b5; }
    .main-content__form form .form__write .form-floating textarea {
      border: none; }
    .main-content__form form .form__write .form-floating label {
      padding: 1rem;
      color: #9460b5;
      font-family: "Raleway", sans-serif;
      font-size: 1.6em; }
    .main-content__form form .form__write .form-floating .form-control:focus {
      box-shadow: 0 0 1rem 0.2rem #9460b5; }
  .main-content__form form .form-check .form-check-input {
    height: 1.6rem;
    width: 1.6rem; }
    .main-content__form form .form-check .form-check-input:checked {
      background-color: #9460b5;
      border-color: #9460b5; }
  .main-content__form form .form-check .form__textcheckbox {
    font-size: 1.4em;
    color: #c3c6e9;
    padding-left: 1rem;
    margin-bottom: 2rem; }
  .main-content__form form .form__send {
    height: 5rem;
    width: 100%;
    color: #c3c6e9;
    font-weight: bold;
    font-size: 1.6em;
    margin-bottom: 3rem; }

.form-floating > .form-control-plaintext:focus, .form-floating > .form-control-plaintext:not(:placeholder-shown), .form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 3rem; }

@media screen and (max-width: 600px) {
  #contacto .main-content__contact-forms {
    font-size: 0.8rem; }
    #contacto .main-content__contact-forms .main-content__title {
      width: 100%; }
    #contacto .main-content__contact-forms .contact-forms__text {
      text-align: center; }
    #contacto .main-content__contact-forms .contact-forms__way-box .contact-forms__way {
      max-width: 96%;
      height: 14rem; }
      #contacto .main-content__contact-forms .contact-forms__way-box .contact-forms__way .way__title {
        grid-row: 1;
        grid-column: 1/6; }
  #contacto .main-content__form .form__title {
    font-size: 2em;
    text-align: center;
    margin: 2rem 0; } }
