/* FOOTER */

#main-footer{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: $b-desktop solid $primary;
    box-shadow: 0 0 $spacing-s $s-desktop $primary;
    padding: $spacing-m;
    a{
        padding: 0;
    }
    ul{
        padding: 0;
    }
    .main-footer__links{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: $max-w;
        margin: auto;
        .links__nav{
            .nav__title{
                font-weight: bold;
                font-size: $text-m;
                color: $secondary;
            }
            .nav__footer-menu{
                .footer-menu__item{
                    margin: $spacing-s 0;
                    .footer-menu__link{
                        font-size: $text-base;
                        border: none;
                    }
                }
            }
        }
        .links__dowload{
            align-self: center;
            .icon__app{
                height: 5rem;
                border: $b-desktop solid $alternative;
                border-radius: 1rem;
                box-shadow: 0 0 $spacing-s $s-desktop $alternative;
                margin-bottom: $spacing-s;
                &:hover{
                    border: $b-desktop solid $secondary;
                    box-shadow: 0 0 $spacing-s $s-desktop $secondary;
                }
            }
        }
        .links__media{
            .media__icon{
                background: $alternative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 4rem;
                width: 4rem;
                border: $b-desktop solid $alternative;
                border-radius: 100%;
                box-shadow: 0 0 $spacing-s $s-desktop $alternative;
                margin-bottom: $spacing-s;
                .media__icon--design{
                    height: 2.5rem;
                }
                &:hover{
                    background: $secondary;
                    border: $b-desktop solid $secondary;
                    box-shadow: 0 0 $spacing-s $s-desktop $secondary;
                }
            }
        }
    }
    .main-footer__copyright{
        text-align: center;
        font-size: $text-xs;
        color: $primary;
        margin-top: $spacing-l;
    }
}

@media screen and (max-width: 600px){
    #main-footer{
        border-top: $b-mobile solid $primary;
        box-shadow: 0 0 $spacing-s $s-mobile $primary;
        .main-footer__links{
            flex-direction: column;
            align-items: center;
            gap: $spacing-m;
            text-align: center;
            .media{
                display: flex;
                gap: $spacing-s;
                &__icon{
                    border: $b-mobile solid $alternative;
                    box-shadow: 0 0 $spacing-s $s-mobile $alternative;
                    &:hover{
                        border: $b-mobile solid $secondary;
                        box-shadow: 0 0 $spacing-s $s-mobile $secondary;
                    }
                }
            }  
        }
    }
}