/* FOOTER */

#main-footer{
    position: relative;
    @include flex(column, center, center, 0);
    width: 100%;
    padding: $spacing-m;
    border-top: $b-desktop solid $primary;
    box-shadow: 0 0 $spacing-s $s-desktop $primary;

    a{
        padding: 0;
    }

    ul{
        padding: 0;
    }

    .main-footer__links{
        @include flex(row, space-between, start, 0);
        width: 100%;
        max-width: $max-w;
        margin: auto;

        .links__nav{

            .nav__title{
                @include text($secondary, $text-m, left, 1em);
                font-weight: bold;
            }

            .nav__footer-menu{

                .footer-menu__item{
                    margin: $spacing-s 0;

                    .footer-menu__link{
                        font-size: $text-base;
                        border: none;
                        &:hover{
                            color: $secondary;
                        }
                    }

                    .footer-menu__link--active{
                        color: $alternative;
                        font-weight: bold;
                    }
                }
            }
        }
        .links__dowload{
            align-self: center;
            li{
                margin-bottom: $spacing-s;

                &:hover{
                    box-shadow: 0 0 $spacing-s $s-desktop $s-color;
                }

                .icon__app{
                    height: 5rem;
                }
            }
        }

        .links__media{

            .media__icon{
                @include flex(row, center, center, 0);
                @include icon-box(4rem, 4rem, 100%);
                margin-bottom: $spacing-s;

                &:hover{
                    box-shadow: 0 0 $spacing-s $s-desktop $s-color;
                }

                .media__icon--design{
                    height: 2.5rem;
                }
            }
        }
    }

    .main-footer__copyright{
        @include text($primary, $text-xs, center, 1em);
        margin-top: $spacing-l;
    }
}

@media screen and (max-width: 600px){
    #main-footer{
        border-top: $b-mobile solid $primary;
        box-shadow: 0 0 $spacing-s $s-mobile $primary;

        .main-footer__links{
            @include flex(column, center, center, $spacing-m);
            text-align: center;
            
            .media{
                @include flex(row, center, center, $spacing-s);
                
                &__icon:hover{
                        box-shadow: 0 0 $spacing-s $s-mobile $s-color;
                }
            }
        }
    }
}