/* HEADER */

#main-header{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: auto;
    border-bottom: $b-desktop solid $primary;
    box-shadow: 0 0 $spacing-s $s-desktop $primary;
    z-index: 1000;

    .main-header__nav{
        @include flex(row, space-between, center, 0);
        margin: auto;
        padding: $spacing-s;
        max-width: $max-w;

        .navbar-brand{
            .logo__img{
                height: 6rem;
                transition: transform 0.5s;

                &:hover{
                    transform: scale(1.05);
                }
            }
        }
        
        .navbar-toggler{
            border: $b-desktop solid $primary;
            background-color: $primary;
        }

        .navbar-collapse{
            flex-grow: 0;

            .nav__menu{
                @include flex(row, space-between, start, $spacing-l);

                .menu__link{
                    @include text($primary, $text-base, left, 1em);
                    font-weight: bold;
                    padding: $spacing-s;
                    position: relative;
                    transition: 0.5s;
                    overflow: hidden; 

                    &:hover{
                        color: $background;
                        background: $primary;
                        transition-delay: 0.5s;
                    }

                    &::before { 
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 10px;
                        height: 10px;
                        border-top: 2px solid $primary; 
                        border-left: 2px solid $primary;
                        transition: 0.5s;
                        transition-delay: 0.5s;
                    }

                    &::after { 
                        content: '';
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        width: 10px;
                        height: 10px;
                        border-bottom: 2px solid $primary;
                        border-right: 2px solid $primary;
                        transition: 0.5s;
                        transition-delay: 0.5s;
                    }

                    &:hover::before,&:hover::after {
                        width: 100%;
                        height: 100%;
                        transition-delay: 0s;
                    }
                }

                .menu__link--active{
                    color: $alternative;

                    &:hover{
                        background: $alternative;
                    }

                    &::before { 
                        border-top: 2px solid $alternative; 
                        border-left: 2px solid $alternative;
                    }
                    
                    &::after { 
                        border-bottom: 2px solid $alternative;
                        border-right: 2px solid $alternative;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991px){
    #main-header{
        .main-header__nav{
            .navbar-collapse{
                .nav__menu{
                    @include flex(column, space-between, center, $spacing-l);
                    padding: $spacing-m;
                }
            }
        }
    }
}
@media screen and (max-width: 600px){
    #main-header{
        border-bottom: $b-mobile solid $primary;
        box-shadow: 0 0 $spacing-s $s-mobile $primary;
    }
}
  
  
  
  

