/* HOME */

#home{
    .main-content__banner{
        @include flex(row, center, center, 0);
        height: 30rem;

        .banner__video {
            height: 48rem;
        }
    }

    .main-content__cover{
        .row{
            .cover{
                @include flex(column, center, start, $spacing-l);
                padding: 0;
                font-size: $text-desktop;
    
                .cover__slogan{
                    @include text($secondary, $text-xl, left, 1em);
                    margin: 0;
                }
    
                .cover__text{
                    @include text($text-color, $text-m, left, 1em);
                    font-weight: bold;
                    margin: 0;
                }
    
                .cover__dowload{
                    @include flex(row, start, start, $spacing-m);
                    margin: 0;
                    padding: 0;
    
                    li:hover{
                        box-shadow: 0 0 $spacing-s $s-desktop $s-color;
                    }
    
                    .dowload__icon{
                        height: 4rem;
                        width: auto;
                    }
                }
            }
    
            .cover__img{
                transition: transform .7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }

    .main-content__feature{
        @include flex(row, center, start, $spacing-m);
        flex-wrap: wrap;
        width: content;
        margin: $spacing-l*2 0;

        .feature{
            width: 27.6rem;
            height: 14rem;
            min-height: 14rem;
            min-width: 27.6rem;
            padding: $spacing-m;
            font-size: $text-desktop;
            display: grid;
            justify-items: end;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(4, 1fr);

            .feature__icon{
                @include flex(row, center, center, 0);
                @include icon-box(4rem, 4rem, 100%);
                grid-column: 7/9;
                }

                .icon__img{
                    height: 80%;
                    width: 80%;
                }

            .feature__title{
                @include text($secondary, $text-m, left, 1em);
                grid-column: 1/7;
                grid-row: 1/3;
            }

            .feature__text{
                @include text($text-color, $text-base, justify, 1em);
                font-weight: bold;
                hyphens: auto;
                grid-column: 1/9;
                grid-row: 3/5;
            }
        }
    }

    .main-content__steps{
        @include flex(column, start, center, 0);

        .steps__title{
            @include text($secondary, $text-l, center, 1em);
            margin-top: $spacing-l;
        }

        .container{
            max-width: 100%;

            .steps{
                font-size: $text-desktop;

                .steps__num{
                    @include text(transparent, 48em, left, 1em);
                    -webkit-background-clip: text;
                    background-clip: text;
                }

                .steps-info__box{
                    .steps__subtitle{
                        @include text($secondary, 7em, left, 1em);
                    }

                    .steps__text{
                        @include text($text-color, $text-m, left, 1em);
                    }
                }
            }

            .steps:nth-of-type(1){
                .steps__img{
                    transform: rotate(15deg);
                    max-height: 54rem;
                    width: auto;
                    position: relative;
                    top: 10rem;
                }
            }

            .steps:nth-of-type(2){
                .steps__subtitle{
                    text-align: right;
                }
                
                .steps__text{
                    text-align: right;
                }

                .steps__img{
                    transform: rotate(-15deg);
                    max-height: 54rem;
                    width: auto;
                    position: relative;
                    top: 10rem;
                }
            }
            .steps:nth-of-type(3){
                .steps__img{
                    max-height: 48rem;
                    width: auto;
                    position: relative;
                    top: 5rem;
                    left: -5rem;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px){
    #home{
        .main-content__banner{
            height: 22rem;

            .banner__video {
                height: 36rem;
            }
        }
        .main-content__steps{
            .steps{
                font-size: $text-intermediate;
            }

            .steps:nth-of-type(3){
                .steps__img{
                    left: -2rem;
                }
            }
        }
    } 
}

@media screen and (max-width: 991px){
    #home{
        .main-content__steps{
            .container{
                max-width: 98%;

                .steps:nth-of-type(1){
                    .steps__img{
                        transform: rotate(0deg);
                        max-height: 54rem;
                        width: auto;
                        position: relative;
                        top: 0rem;
                    }
                }

                .steps:nth-of-type(2){
                    .steps__img{
                        transform: rotate(-0deg);
                        max-height: 54rem;
                        width: auto;
                        position: relative;
                        top: 0rem;
                    }
                }

                .steps:nth-of-type(3){
                    .steps__img{
                        max-height: 48rem;
                        width: auto;
                        position: relative;
                        top: 0rem;
                        left: 0rem;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 767px){
    #home{
        .main-content__cover{
            .row{
                justify-content: center;

                .cover{
                    width: 96%;
                    margin-bottom: $spacing-l;
    
                    .cover__slogan{
                        text-align: center;
                    }
        
                    .cover__text{
                        text-align: center;
                    }
    
                    .cover__dowload{
                        align-self: center;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 600px){
    /* BANNER */
    #home{
        .main-content__banner{
            height: 14rem;

            .banner__video {
                height: 24rem;
            }
        }
        .main-content__cover{
            .row{
                .cover{
                    font-size: $text-mobile;

                    .cover__dowload{
                        .dowload__icon{
                            height: 3.6rem;
                        }
                    }
                }
            }
        }
        .main-content__steps{
            .container{
                max-width: 98%;

                .steps{
                    font-size: $text-mobile;

                    .steps__num{
                        font-size: 25em;
                    }
                }

                .steps:nth-of-type(1){
                    .steps__img{
                        max-height: 40rem;
                        width: auto;
                    }
                }

                .steps:nth-of-type(2){
                    .steps__text{
                        text-align: justify;
                        text-align-last: right;
                        hyphens: auto;
                    }

                    .steps__img{
                        max-height: 40rem;
                        width: auto;
                    }
                }
                .steps:nth-of-type(3){
                    .steps__num{
                        padding: 0;
                    }

                    .steps-info__box{
                        padding: 0;
                    }

                    .steps__img{
                        max-height: 40rem;
                        width: auto;
                        position: relative;
                        top: 0rem;
                        left: -2rem;
                    }
                }
            }
        }
    }  
}
  