/* ¿QUIENES SOMOS? */

#quienessomos{
    #carouselExampleIndicators{
        .carousel-indicators{
            button{
                background-color: $primary;
            }
        }
        .carousel-inner{
            .subtitle{
                font-family: $font-title;
                font-size: $text-l;
                line-height : $lh;
                color: $secondary;
                max-width: $max-w;
                width: 90%;
                margin: 0 auto $spacing-l;
            }

            .text{
                font-size: $text-m;
                color: $text-color;
                text-align: justify;
                hyphens: auto;
                max-width: $max-w;
                width: 90%;
                margin: 0 auto $spacing-l;
            }

            span{
                font-weight: bold;
                color: $primary;
            }

            .main-content__history{
                background-image: url(../img/quienesomos/buenosaires.jpg);
                background-size: cover;
                background-position: center;
                min-height: 90vh;
                font-size: $text-desktop;

                .main-content__title{
                    line-height : $lh;
                    font-size: $text-xl;
                    font-family: $font-title;
                    color: $secondary;
                    text-align: center;
                    margin: $spacing-l 0;
                }
            }

            .main-content__values{
                background-image: url(../img/quienesomos/nature.jpg);
                background-size: cover;
                background-position: center;
                min-height: 90vh;
                font-size: $text-desktop;

                .subtitle{
                    padding: $spacing-l 0 0;
                    text-align: center;
                    font-family: $font-title;
                    font-size: $text-l;
                    color: $secondary;
                    line-height : $lh;
                }

                .values__value-box{
                    padding: $spacing-s;
                    background: linear-gradient(60deg, #f7548041, #9460b53a, #5ee6bb3d);
                    border-radius: 1rem;
                    margin: $spacing-l auto;
                    max-width: $max-w;
                    width: 90%;

                    .value-box__title{
                        font-size: $text-m;
                        line-height: $lh;
                        letter-spacing: $spacing-xs;
                        font-family: $font-title;
                        color: $secondary;
                        margin-bottom: $spacing-s;
                    }

                    .value-box__text{
                        font-size: $text-base;
                        color: $text-color;
                        text-align: justify;
                        hyphens: auto;
                    }
                }    
            }

            .main-content__staff-products{
                background-image: url(../img/quienesomos/personal.jpg);
                background-size: cover;
                background-position: center;
                min-height: 90vh;
                font-size: $text-desktop;

                .subtitle{
                    padding: $spacing-l 0 0;
                    grid-area: title;
                    text-align: center;
                    font-size: $text-xl;
                }

                .products{
                    display: flex;
                    justify-content: center;
                    column-gap: 8rem;
                    margin-bottom: $spacing-m;

                    .list__title{
                        font-size: $text-l;
                        letter-spacing: $spacing-xs;
                        font-family: $font-title;
                        color: $secondary;
                        margin-bottom: $spacing-s;
                    }

                    .list__item{
                        font-size: $text-m;
                        color: $text-color;
                        font-weight: bold;
                        
                        img{
                            height: 2.4rem;
                            width: 2.4rem;
                            position: relative;
                            left: -1rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 959px){
    #quienessomos{
        #carouselExampleIndicators{
            .carousel-inner{
                .main-content__history{
                    font-size: $text-intermediate;
                }
        
                .main-content__values{
                    font-size: $text-intermediate;
                }
        
                .main-content__staff-products{
                    font-size: $text-intermediate;
                }
            }
        }
    }
}
@media screen and (max-width: 600px){
    #quienessomos{
        #carouselExampleIndicators{
            .carousel-inner{
                .main-content__history{
                    font-size: $text-mobile;
                }
        
                .main-content__staff-products{
                    font-size: $text-mobile;
        
                    .products{
                        flex-direction: column;
                        align-items: center;
                        gap: $spacing-m;
                        margin-bottom: $spacing-l;
                    }
                }
            }
        }
    }
}