/* ¿QUIENES SOMOS? */

#quienessomos{
    #carouselExampleIndicators{
        .carousel-indicators{
            button{
                background-color: $primary;
            }
        }
        .carousel-inner{
            $sections: (
                history: 'history',
                values: 'values',
                staff-products: 'staff-products'
            );

            @each $val, $key in $sections{
                &--#{$val}{
                    background-image: url(../img/quienesomos/#{$val}.jpg);
                    background-size: cover;
                    background-position: center;
                    min-height: 90vh;
                }
            }

            .subtitle{
                @include text($secondary, $text-l, left, 1em);
                max-width: $max-w;
                width: 90%;
                margin: 0 auto $spacing-l;
            }

            .text{
                @include text($text-color, $text-m, justify, 1em);
                hyphens: auto;
                max-width: $max-w;
                width: 90%;
                margin: 0 auto $spacing-l;
            }

            span{
                font-weight: bold;
                color: $primary;
            }

            .main-content__history{
                font-size: $text-desktop;

                .main-content__title{
                    @include text($secondary, $text-xl, center, 1em);
                    margin: $spacing-l 0;
                }
            }

            .main-content__values{
                font-size: $text-desktop;

                .subtitle{
                    padding: $spacing-l 0 0;
                    @include text($secondary, $text-l, center, 1em);
                }

                .values__value-box{
                    padding: $spacing-s;
                    background: linear-gradient(60deg, #f7548041, #9460b53a, #5ee6bb3d);
                    border-radius: 1rem;
                    margin: $spacing-l auto;
                    max-width: $max-w;
                    width: 90%;

                    .value-box__title{
                        @include text($secondary, $text-m, left, 1em);
                        letter-spacing: $spacing-xs;
                        margin-bottom: $spacing-s;
                    }

                    .value-box__text{
                        @include text($text-color, $text-base, justify, 1em);
                        hyphens: auto;
                    }
                }    
            }

            .main-content__staff-products{
                font-size: $text-desktop;

                .subtitle{
                    padding: $spacing-l 0 0;
                    grid-area: title;
                    text-align: center;
                    font-size: $text-xl;
                }

                .products{
                    @include flex(row, center, start, 8rem);
                    margin-bottom: $spacing-m;

                    .list__title{
                        @include text($secondary, $text-l, left, 1em);
                        letter-spacing: $spacing-xs;
                        margin-bottom: $spacing-s;
                    }

                    .list__item{
                        @include text($text-color, $text-m, left, 1em);
                        font-weight: bold;
                        
                        img{
                            height: 2.4rem;
                            width: 2.4rem;
                            position: relative;
                            left: -1rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 959px){
    #quienessomos{
        #carouselExampleIndicators{
            .carousel-inner{
                .main-content__history{
                    font-size: $text-intermediate;
                }
        
                .main-content__values{
                    font-size: $text-intermediate;
                }
        
                .main-content__staff-products{
                    font-size: $text-intermediate;
                }
            }
        }
    }
}
@media screen and (max-width: 600px){
    #quienessomos{
        #carouselExampleIndicators{
            .carousel-inner{
                .main-content__history{
                    font-size: $text-mobile;
                }
        
                .main-content__staff-products{
                    font-size: $text-mobile;
        
                    .products{
                        @include flex(column, center, center, $spacing-m);
                        margin-bottom: $spacing-l;
                    }
                }
            }
        }
    }
}